* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 768px;
  border: 1px solid black;
  padding: 0 16px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.boxContent {
  padding: 10px 16px;
  margin-top: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 50%;
  width: 50%;
}

.textWrap {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

.text {
  font-size: 14px;
  word-break: break-word;
}

.textIcon{
  min-height: 24px;
  min-width: 24px;
  max-height: 24px;
  max-width: 24px;
  background-color: rgb(0, 128, 255);
  position: absolute;
  top: calc(50% - 12px);
}

.icon {
  min-height: 35px;
  min-width: 35px;
  max-height: 35px;
  max-width: 35px;
  background-color: crimson;
}

.boxContent:nth-child(-n + 2) {
  margin-top: 0;
}

@media (max-width: 768px) {
  
  .container {
    width: calc(100% - 20px);
    flex-direction: column;
  }

  .boxContent {
    width: 100%;
  }

  .boxContent:nth-child(-n + 2) {
    margin-top: 24px;
  }

  .boxContent:nth-child(-n + 1) {
    margin-top: 0;
  }

}
