* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgba(227, 207, 22, 0.932);;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: #f8f8e0ce;
  border-radius: 8px;
  overflow: hidden;
}

.display {
  background-color: #f8f8e0ce;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 30px;
  overflow: hidden;
}

.display-2 {
  margin-top: 0;
}

.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
}

.all_button {
  color: rgb(21, 19, 19);
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.button {
  border: rgba(255, 255, 255, 0.149) solid 1px;
  display: inline-block;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #f8f8e090;
}

.btn-0 {
  grid-column: 1/3;
}
